{% extends 'base/base.html' %} {% load static %}

<!-- Block title -->
{% block title %}
<title>Razvan Video | Filmari nunti Constanta | Rezolutie 4K</title>
{% endblock %}

<!-- Block content -->
{% block content %}
<!-- Hero Section Begin -->

<section class="hero">
    <div class="hero__slider owl-carousel">
 
        <div
            class="hero__item set-bg"
            data-setbg="{% static 'home/img/hero/hero-1.png' %}"
        >
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <span>Videograf evenimente <br> Constanta</span>
                            <h2>Razvan Mirica</h2>
                            <a
                                href="{% url 'evenimente-constanta-nunta-botez-majorat-si-altele' %}"
                                class="primary-btn"
                                >Portofoliul meu</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
            <div class="hero__item set-bg" data-setbg="{% static 'home/img/hero/hero-1.png' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <span>For website and video editing</span>
                                <h2>Videographer’s Portfolio</h2>
                                <a href="#" class="primary-btn">See more about us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__item set-bg" data-setbg="{% static 'home/img/hero/hero-1.png' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <span>For website and video editing</span>
                                <h2>Videographer’s Portfolio</h2>
                                <a href="#" class="primary-btn">See more about us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
    </div>
</section>
<!-- Hero Section End -->

<!-- Services Section Begin -->
<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="services__title">
                    <div class="section-title">
                        <span>Serviciile mele</span>
                        <h2>Ce va ofer?</h2>
                    </div>
                    <p>
                        Ofer servicii de videografie de cea mai inalta calitate,
                        garantand excelenta in fiecare cadru.
                    </p>
                    <a
                        href="{% url 'evenimente-constanta-nunta-botez-majorat-si-altele' %}"
                        class="primary-btn"
                        >Vezi serviciile mele</a
                    >
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                <img
                                    src="{% static 'home/img/icons/si-1.png' %}"
                                    alt=""
                                />
                            </div>
                            <h4>Nunta - eveniment unic</h4>
                            <p>
                                Nunta este un eveniment unic, o celebrare a
                                iubirii care merita sa ramana vie in amintire.
                                Este o explozie de emotii care nu vor trece
                                niciodata, momente pretioase care merita sa fie
                                pastrate pentru totdeauna.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                <img
                                    src="{% static 'home/img/icons/si-2.png' %}"
                                    alt=""
                                />
                            </div>
                            <h4>Alte evenimente</h4>
                            <p>
                                Fiecare eveniment este o poveste care merita sa
                                fie spusa cu emotie si autenticitate. Stim cum
                                sa surprindem cele mai frumoase momente,
                                transformandu-le in amintiri de neuitat. Orice
                                eveniment, indiferent de ocazie, va ramane unic
                                si special, reflectand perfectiunea fiecarei
                                clipe.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                <img
                                    src="{% static 'home/img/icons/si-3.png' %}"
                                    alt=""
                                />
                            </div>
                            <h4>Botez - o amintire necesara</h4>
                            <p>
                                Botezul este un eveniment foarte important, un
                                moment sacru care merita sa ramana intiparit
                                intr-un video. Acestea sunt emotiile adevarate,
                                care vor dainui in timp si vor fi retraiate de
                                fiecare data cand revii la aceste imagini.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                <img
                                    src="{% static 'home/img/icons/si-4.png' %}"
                                    alt=""
                                />
                            </div>
                            <h4>Videoclipuri de prezentare</h4>
                            <p>
                                Videoclipurile de prezentare sunt esentiale
                                pentru imaginea brandului. Am multe idei pentru
                                a va scoate afacerea in lumina, aducand in
                                prim-plan valorile si povestea care va definesc.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->

<!-- Images Section Begin -->
<section class="images-section">
    <div class="container">
        <!-- Textul are acum clase separate pentru stiluri clare -->
        <div class="image-row">
            <div class="col-12 text-center mb-4">
                <h3 class="promo-text-custom">Ofertele anului 2025 sunt aici!</h3> <!-- Clasa personalizată pentru h3 -->
                <p class="promo-subtext-custom">Profitați acum de oferte speciale pentru evenimentele dumneavoastra!</p> <!-- Clasa personalizată pentru p -->
            </div>
        </div>
        <!-- Imaginile sunt centrate în continuare -->
        <div class="image-row">
            <div class="col-lg-5 col-md-6 col-sm-12 mb-4">
                <img
                    src="{% static 'home/img/fluturas1.jpeg' %}"
                    alt="Fluturaș 1"
                    class="img-fluid custom-img"
                    onclick="openLightbox(this)"
                />
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12 mb-4">
                <img
                    src="{% static 'home/img/fluturas2.jpeg' %}"
                    alt="Fluturaș 2"
                    class="img-fluid custom-img"
                    onclick="openLightbox(this)"
                />
            </div>
        </div>
    </div>
</section>
<!-- Images Section End -->

<!-- Lightbox Modal -->
<div id="lightboxModal" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8); display: flex; justify-content: center; align-items: center; z-index: 9999;">
    <span onclick="closeLightbox()" style="position: absolute; top: 20px; right: 20px; font-size: 30px; color: white; cursor: pointer; z-index: 10000;">×</span>
    <img id="lightboxImage" src="" alt="Lightbox Image" style="max-width: 90%; max-height: 90%; margin: auto; display: block;" />
</div>

<!-- JavaScript -->
<script>
    function openLightbox(img) {
        var modal = document.getElementById("lightboxModal");
        var modalImage = document.getElementById("lightboxImage");

        modalImage.src = img.src;

        modal.style.display = "flex";
    }

    function closeLightbox() {
        var modal = document.getElementById("lightboxModal");
        modal.style.display = "none"; // Ascunde modalul
    }

    window.onclick = function(event) {
        var modal = document.getElementById("lightboxModal");
        if (event.target == modal) {
            closeLightbox();
        }
    }


    window.onload = function() {
        var modal = document.getElementById("lightboxModal");
        modal.style.display = "none";
    };
</script>

<style>
   /* Stiluri pentru text personalizat - H3 și P */
.promo-text-custom {
    color: white;
    border-top: 4px solid #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.promo-subtext-custom {
    color: white; /* Text alb */
}

/* Alte stiluri pentru imagini */
.images-section {
    background-color: #100028;
    padding: 100px 0;
    text-align: center;
}

/* Flexbox pentru aliniere orizontală a pozelor */
.image-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Coloană pentru imagini */
.image-row .col-lg-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: auto;
    padding: 10px;
}

.custom-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.custom-img:hover {
    transform: scale(1.2);
}

/* Poze mult mai mari pe desktop */
@media (min-width: 992px) {
    .custom-img {
        width: 95%;
        max-width: 100%;
    }

    .image-row .col-lg-5 {
        width: 45%; 
        padding: 10px;
    }
}

/* Poze și coloană responsive pentru mobil (sub 767px) */
@media (max-width: 767px) {
    .custom-img {
        width: 100%;
        max-width: 100%;
    }

    .image-row {
        flex-direction: column;
    }

    .image-row .col-lg-5 {
        width: 100%;
        margin-bottom: 20px;
        padding: 5px;
    }
}

</style>
<!-- Images Section Begin -->

<!-- Work Section Begin -->
<section class="work">
    <div class="work__gallery">
        <div class="grid-sizer"></div>
        <div
            class="work__item wide__item set-bg"
            data-setbg="{% static 'home/img/work/nunta-Constanta-Alex-si-Laly.jpg' %}"
        >
            <a
                href="https://www.youtube.com/watch?v=zz0KYjwoh8s"
                class="play-btn video-popup"
                ><i class="fa fa-play"></i
            ></a>
            <div class="work__item__hover">
                <h4>Video Nunta Alex & Laly</h4>
                <ul>
                    <li>Constanta</li>
                    <li>Constanta</li>
                </ul>
            </div>
        </div>
        <div
            class="work__item small__item set-bg"
            data-setbg="{% static 'home/img/work/botez-Constanta-Vladimir-Andrei.jpg' %}"
        >
            <a
                href="https://www.youtube.com/watch?v=JaRtdL3ck6k"
                class="play-btn video-popup"
                ><i class="fa fa-play"></i
            ></a>
        </div>
        <div
            class="work__item small__item set-bg"
            data-setbg="{% static 'home/img/work/botez-Constanta-Rares-Stefan.jpg' %}"
        >
            <a
                href="https://www.youtube.com/watch?v=K0Tg2uIKf7c"
                class="play-btn video-popup"
                ><i class="fa fa-play"></i
            ></a>
        </div>
        <div
            class="work__item large__item set-bg"
            data-setbg="{% static 'home/img/work/Video-Nunta-Alin-Amalia-Constanta.jpg' %}"
        >
            <a
                href="https://www.youtube.com/watch?v=mfKZR0P7tss"
                class="play-btn video-popup"
                ><i class="fa fa-play"></i
            ></a>
            <div class="work__item__hover">
                <h4>Video Nunta Alin & Amalia Constanta</h4>
                <ul>
                    <li>Constanta</li>
                    <li>Constanta</li>
                </ul>
            </div>
        </div>
        <div
            class="work__item small__item set-bg"
            data-setbg="{% static 'home/img/work/Clip-Botez-Evelina-Mihaela-video-constanta.jpg' %}"
        >
            <a
                href="https://www.youtube.com/watch?v=FvIsK8s1lSM"
                class="play-btn video-popup"
                ><i class="fa fa-play"></i
            ></a>
        </div>
        <div
            class="work__item small__item set-bg"
            data-setbg="{% static 'home/img/work/Botez-si-Cununie-Razvan-video-Constanta.jpg' %}"
        >
            <a
                href="https://www.youtube.com/watch?v=W3vl7cofPnk"
                class="play-btn video-popup"
                ><i class="fa fa-play"></i
            ></a>
        </div>
        <div
            class="work__item wide__item set-bg"
            data-setbg="{% static 'home/img/work/Clip-Nunta-Georgiana-si-Ciprian.jpg' %}"
        >
            <a
                href="https://www.youtube.com/watch?v=NjI95M8Umn0"
                class="play-btn video-popup"
                ><i class="fa fa-play"></i
            ></a>
            <div class="work__item__hover">
                <h4>Clip Nunta Georgiana & Ciprian</h4>
                <ul>
                    <li>Constanta</li>
                    <li>Constanta</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Work Section End -->

<!-- Counter Section Begin -->
<section class="counter">
    <div class="container">
        <div class="counter__content">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item">
                        <div class="counter__item__text">
                            <img
                                src="{% static 'home/img/icons/ci-1.png' %}"
                                alt=""
                            />
                            <h2 class="counter_num">150</h2>
                            <p>Proiecte complete</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item second__item">
                        <div class="counter__item__text">
                            <img
                                src="{% static 'home/img/icons/ci-2.png' %}"
                                alt=""
                            />
                            <h2 class="counter_num">350</h2>
                            <p>Clienti fericiti</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item third__item">
                        <div class="counter__item__text">
                            <img
                                src="{% static 'home/img/icons/ci-3.png' %}"
                                alt=""
                            />
                            <h2 class="counter_num">50</h2>
                            <p>Evenimente programate</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item four__item">
                        <div class="counter__item__text">
                            <img
                                src="{% static 'home/img/icons/ci-4.png' %}"
                                alt=""
                            />
                            <h2 class="counter_num">1500</h2>
                            <p>Videoclipuri editate</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Counter Section End -->

<!-- Testimonial Section Begin FROM DB -->
<!-- Testimonial Section Begin -->
<section
    class="testimonial spad set-bg"
    data-setbg="{% static 'home/img/testimonial-bg.jpg' %}"
>
    <div class="container">
        <div class="section-title center-title">
            <h2>Review-uri</h2>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="testimonial__slider owl-carousel">
                {% for review in review_list %}
                <div class="col-lg-4">
                    <div class="testimonial__item">
                        <div class="testimonial__text">
                            <p>{{ review.content }}</p>
                        </div>
                        <div class="testimonial__author">
                            <div class="testimonial__author__pic">
                                {% if review.image %}
                                <img
                                    src="{{ review.image.url }}"
                                    alt="{{ review.name }}"
                                    class="img-fluid rounded-circle"
                                />
                                {% endif %}
                            </div>
                            <div class="testimonial__author__text">
                                <h5>{{ review.name }}</h5>
                                <span>{{ review.get_role_display }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p>Nu sunt recenzii disponibile.</p>
                {% endfor %}
            </div>
        </div>

        <div class="section-title center-title mt-5">
            <h2>Lasă o recenzie</h2>
            <button id="toggleForm" class="btn btn-primary mt-3">
                Adaugă o Recenzie
            </button>
        </div>

        <div id="reviewForm" style="display: none; margin-top: 20px">
            <form
                id="formReview"
                method="post"
                enctype="multipart/form-data"
                class="bg-light p-4 rounded shadow"
            >
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_name">Nume</label>
                    <input
                        type="text"
                        name="name"
                        id="id_name"
                        class="form-control"
                        placeholder="Introdu numele tău"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="id_content">Recenzie</label>
                    <textarea
                        name="content"
                        id="id_content"
                        class="form-control"
                        rows="3"
                        placeholder="Scrie recenzia ta aici..."
                        required
                    ></textarea>
                </div>
                <div class="form-group">
                    <label for="id_image">Imagine (opțional)</label>
                    <input
                        type="file"
                        name="image"
                        id="id_image"
                        class="form-control-file"
                    />
                </div>
                <div class="form-group">
                    <label for="id_role">Rol</label>
                    <select
                        name="role"
                        id="id_role"
                        class="form-control"
                        required
                    >
                        <option value="">Alege un rol...</option>
                        <option value="client">Client</option>
                        <option value="coleg">Coleg</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mt-3">
                    Trimite Recenzia
                </button>
            </form>
            <div
                id="thankYouMessage"
                style="display: none; color: green; margin-top: 10px"
            ></div>
            <!-- Mesaj de mulțumire -->
        </div>
    </div>
</section>

<script>
    document
        .getElementById("toggleForm")
        .addEventListener("click", function () {
            var form = document.getElementById("reviewForm");
            if (form.style.display === "none" || form.style.display === "") {
                form.style.display = "block";
                this.innerText = "Ascunde Formularul";
                // Focus pe câmpul numelui
                form.querySelector('input[name="name"]').focus();
            } else {
                form.style.display = "none";
                this.innerText = "Adaugă o Recenzie";
            }
        });

    document
        .getElementById("formReview")
        .addEventListener("submit", function (event) {
            event.preventDefault(); // Previi reîncărcarea paginii
            var formData = new FormData(this);

            fetch(this.action, {
                method: this.method,
                body: formData,
                headers: {
                    "X-CSRFToken": document.querySelector(
                        "[name=csrfmiddlewaretoken]",
                    ).value, // Includ CSRF token
                },
            })
                .then((response) => {
                    if (response.ok) {
                        document.getElementById("thankYouMessage").innerText =
                            "Mulțumim de recenzie, aceasta urmează să fie aprobată!";
                        document.getElementById(
                            "thankYouMessage",
                        ).style.display = "block";
                        this.reset(); // Resetează formularul
                    } else {
                        alert(
                            "A apărut o eroare, te rugăm să încerci din nou.",
                        );
                    }
                })
                .catch((error) => {
                    console.error("Error:", error);
                    alert("A apărut o eroare, te rugăm să încerci din nou.");
                });
        });
</script>

<!-- Testimonial Section End FROM DB -->

<!-- Team Section Begin -->
<!-- <section class="team spad set-bg" data-setbg="{% static 'home/img/team-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title team__title">
                        <span>Nice to meet</span>
                        <h2>OUR Team</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                    <div class="team__item set-bg" data-setbg="{% static 'home/img/team/team-1.jpg' %}">
                        <div class="team__item__text">
                            <h4>AMANDA STONE</h4>
                            <p>Videographer</p>
                            <div class="team__item__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                    <div class="team__item team__item--second set-bg" data-setbg="{% static 'home/img/team/team-2.jpg' %}">
                        <div class="team__item__text">
                            <h4>AMANDA STONE</h4>
                            <p>Videographer</p>
                            <div class="team__item__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                    <div class="team__item team__item--third set-bg" data-setbg="{% static 'home/img/team/team-3.jpg' %}">
                        <div class="team__item__text">
                            <h4>AMANDA STONE</h4>
                            <p>Videographer</p>
                            <div class="team__item__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                    <div class="team__item team__item--four set-bg" data-setbg="img/team/team-4.jpg">
                        <div class="team__item__text">
                            <h4>AMANDA STONE</h4>
                            <p>Videographer</p>
                            <div class="team__item__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 p-0">
                    <div class="team__btn">
                        <a href="#" class="primary-btn">Meet Our Team</a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
<!-- Team Section End -->

<!-- Call To Action Section Begin -->
<section
    class="callto spad set-bg"
    data-setbg="{% static 'home/img/callto-bg.jpg' %}"
>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="callto__text">
                    <h2>
                        Ideile marete prind viata prin oamenii care isi ridica
                        asteptarile la inaltimea visurilor lor.
                    </h2>
                    <p>Un loc frumos pentru povestea ta.</p>
                    <a
                        href="{% url 'evenimente-constanta-nunta-botez-majorat-si-altele' %}"
                        >Da startul povestii tale!</a
                    >
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call To Action Section End -->

{% endblock %}
